<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <Authorizing>
                <p>در حال ورود به نرم افزار</p>
            </Authorizing>
            <NotAuthorized>
                <p>شما به این بخش دسترسی ندارید</p>
            </NotAuthorized>
        </AuthorizeRouteView>

    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(MainLayout)">
          
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>
