<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="" style="text-align:center">پنل مدیریت</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu" style="text-align:center" >
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> داشبورد
            </NavLink>
        </li>
        <AuthorizeView>
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="category">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> لیست دسته بندی
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView>
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="Category/create">
                        <span class="oi oi-plus" aria-hidden="true"></span> ثبت دسته بندی
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView>
            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="Article">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> لیست  مقاله
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView>

            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="Article/create">
                        <span class="oi oi-plus" aria-hidden="true"></span> ثبت  مقاله
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView>

            <Authorized>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/Category/Index">
                        <span class="oi oi-plus" aria-hidden="true"></span>لیست دسته بندی
                    </NavLink>
                </li>
            </Authorized>
        </AuthorizeView>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
